.login-form {
  background-color: rgba(255, 255, 255, 0.06);
  text-align: center;
  max-width: 375px;
  padding: 33px 15px;

  border-radius: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding: 46px 33px;
    max-width: 635px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    padding: 90px 111px;
    max-width: 790px;
  }
}

.form__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 45px;

  color: $primeryTextColor;

  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 67px;
    margin-bottom: 32px;
  }
}

.income-group {
  margin-bottom: 21px;

  @media screen and (min-width: 768px) {
    margin-bottom: 39px;
  }
}

.radio__label {
  display: inline-block;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;

  color: $textSecondary;

  width: 150px;

  cursor: pointer;
  position: relative;
  transition: color 0.3s ease-in-out;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
    width: 270px;
  }
}

.radio__btn:checked + .radio__label {
  text-decoration: underline;
  color: rgba(115, 255, 242, 1);
}

.radio__btn {
  display: none;
}

input {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: $textSecondary;
  background-color: rgba(255, 255, 255, 0.06);

  height: 56px;
  width: 100%;
  border: 0;
  border-radius: 15px;
  margin-bottom: 21px;
  padding-left: 27px;
}

.form_nav {
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.form__btn {
  align-content: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;

  color: $textSecondary;
  background-image: linear-gradient(
    rgba(44, 144, 247, 1),
    rgba(5, 192, 204, 1)
  );

  height: 56px;
  width: 100%;
  border: 0;
  border-radius: 15px;
  margin-bottom: 21px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    width: 280px;
  }
}

.pass-recovery {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: $primeryTextColor;
  text-decoration: underline;
}

.reg-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid $primeryTextColor;
}

.reg-qv {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  color: $primeryTextColor;
  margin-right: 35px;
}

.reg-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  color: rgba(115, 255, 242, 1);

  text-decoration: underline;
}
