.hero {
  padding-bottom: 300px;

  @media screen and (min-width: 768px) {
    width: 310px;
    padding-bottom: 76px;
  }

  @media screen and (min-width: 1220px) {
    width: 438px;
    padding-bottom: 122px;
  }
}

.hero__container {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.hero__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: $primeryTextColor;
  text-align: center;
  margin-bottom: 21px;

  @media screen and (min-width: 768px) {
    font-size: 27px;
    line-height: 32px;
    text-align: start;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1220px) {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 32px;
  }
}

.hero__description {
  font-size: 13px;
  line-height: 22px;
  color: $textSecondary;

  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 23px;
    text-align: start;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1220px) {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 57px;
  }
}

.hero__btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: $primeryTextColor;

  padding: 12px 40px;

  margin-left: auto;
  margin-right: auto;

  border: none;
  border-radius: 15px;
  background-image: linear-gradient(
    to top,
    rgba(44, 144, 247, 1),
    rgba(5, 192, 204, 1)
  );

  &:hover,
  &:focus {
    background-image: linear-gradient(
      to right,
      rgb(36, 143, 250),
      rgb(5, 163, 174)
    );
  }

  @media screen and (min-width: 768px) {
    display: inline-block;
  }

  @media screen and (min-width: 1220px) {
  }
}
