.profile-info {
  background-color: rgba(23, 35, 51, 0.8);
  padding: 20px 12px;

  border-radius: 10px;
}

.avatar-wrapper {
  display: flex;
  background-color: #26262c;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.persona{
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.name{
font-weight: 600;
font-size: 16px;
line-height: 130%;

color: $primeryTextColor;
margin-left: 11px;
}

.info-list {
  display: flex;
}

.info-card {
  min-width: 145px;
  height: 72px;
  padding: 11px 0px;
  border: 1px solid rgba(57, 56, 79, 1);
  border-radius: 7px;
}

.info-card:not(:last-child) {
  margin-right: 20px;
}

.card-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  color: rgba(156, 155, 214, 1);
  text-transform: uppercase;
  text-align: center;
}

.card-icon {
  width: 20px;
  height: 20px;
}
