.signUp-form__btn {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;

  color: $textSecondary;
  background-image: linear-gradient(
    rgba(44, 144, 247, 1),
    rgba(5, 192, 204, 1)
  );

  height: 56px;
  width: 100%;
  border: 0;
  border-radius: 15px;
  margin-bottom: 21px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
   
  }
}


