.background {
  background-image: url(/img/BackgroundImg/BG-mobile.webp);
  background-size: 100%;

  @media screen and (min-width: 768px) {
    background-image: url(/img/BackgroundImg/BG-tablet.webp);
  }

  @media screen and (min-width: 1216px) {
    background-image: url(/img/BackgroundImg/bg.webp),
      url(/img/BackgroundImg/BG-desktop.webp);

    background-size: 448px, cover;
    background-repeat: no-repeat;
    background-position: top 100px left 0px, top 0px left 0px;
  }
}

.main {
  height: 2000px;
}
