.background {
  background-image: url(../../img/hero-img-desktop-1x.png),
    url(../../img/BG-mobile.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top 330px right 4px, top;

  @media screen and (min-width: 414px) {
    background-image: url(../../img/hero-img-desktop-1x.png),
      url(../../img/BG-mobile.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top 290px right 20px, top;
  }

  @media screen and (min-width: 768px) {
    background-image: url(../../img/hero-img-desktop-1x.png),
      url(../../img/BG-tablet.webp);
    background-size: 574px, 100%;
    background-repeat: no-repeat;
    background-position: top 45px right -20px, top;
  }

  @media screen and (min-width: 1216px) {
    background-image: url(../../img/hero-img-desktop-1x.png),
      url(../../img/bg.webp), url(../../img/BG-desktop.webp);

    background-size: 985px, 448px, cover;
    background-repeat: no-repeat;
    background-position: top 45px right -20px, top 100px left 0px,
      top 0px left 0px;
  }
}


