.background {
  background-image: url(../../img/hero-img-desktop-1x.png),
    linear-gradient(
      to bottom,
      rgba(8, 30, 46, 1) 90%,
      rgba(28, 44, 63, 0.29) 200%
    );
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: top 330px right 4px, top;

  @media screen and (min-width: 414px) {
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-position: top 290px right 20px, top;
  }

  @media screen and (min-width: 768px) {
    background-image: url(../../img/hero-img-desktop-1x.png),
      linear-gradient(
        to bottom,
        rgba(8, 30, 46, 1) 90%,
        rgba(28, 44, 63, 0.29) 200%
      );
    background-size: 574px, 100%;
    background-repeat: no-repeat;
    background-position: top 45px right -20px, top;
  }

  @media screen and (min-width: 1220px) {
    background-image: url(../../img/hero-img-desktop-1x.png),
      url(../../img/bg.webp),
      linear-gradient(
        to bottom,
        rgba(8, 30, 46, 1) 90%,
        rgba(28, 44, 63, 0.29) 200%
      );

    background-size: 790px, 345px, 100%;
    background-repeat: no-repeat;
    background-position: top 45px right -20px, top 100px left 0px, top;
  }
}
